html {
  box-sizing: border-box;
  text-align: justify;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  padding-left: .5em;
  padding-right: 1.5em;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
  padding-bottom: 0;
}

header ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
  padding-bottom: 1em;
  line-height: 1.5;
}

img {
  width: 100%;
  height: inherit;
}

main figcaption {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-size: 1rem;
  padding-top: .6em;
  text-align: center;
}


main article {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
}

main p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 0;
}

blockquote p {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  text-decoration: line-through;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  color: #222;
  line-height: 1.5;
}

aside nav ol {
  list-style-type: lower-greek;
  font-size: 1rem;
  line-height: 1.5;
}

aside p {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5;
}

.data {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.25rem;
}

dl {
  line-height: 1.5;
}

dl dt {
  color: #222;
  font-style: normal;
  font-weight: bolder;
}

ul {
  list-style-type: circle;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  color: #222;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}
